<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">My Club</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
        <li class="nav-item">
          <a class="nav-link" href="#">Calendar</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Events
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">All Events</a></li>
            {% if user.is_authenticated %}
            <li><a class="dropdown-item" href="#">Add Event</a></li>
            <li><a class="dropdown-item" href="#">My Events</a></li>
            {% endif %}
            <li><a class="dropdown-item" href="#">Search Events</a></li>

            
          </ul>
        </li>


      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Venues
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">All Venues</a></li>
            {% if user.is_authenticated %}
            <li><a class="dropdown-item" href="#">Add Venue</a></li>
            {% endif %}
            
          </ul>
        </li>   
      
      

        
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Downloads
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Venue Text File</a></li>
            <li><a class="dropdown-item" href="#">Venue CSV File</a></li>
            <li><a class="dropdown-item" href="#">Venue PDF File</a></li>
          </ul>
        </li>

      
    

      {% if user.is_authenticated %}
      {% if user.is_superuser %}
          <li class="nav-item">
          <a class="nav-link" href="#">Admin</a>
        </li>
      {%endif %}
        <li class="nav-item">
          <a class="nav-link" href="#">Logout</a>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="#">Register</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li>
      {% endif %}

      </ul>
    </div>
  </div>
</nav>